body {
    background-image: url("https://st4.depositphotos.com/15827116/i/600/depositphotos_203179988-stock-photo-three-cupcakes-buttercream-row-pastel.jpg");
  
  
  text-align: center;
  }
img{
  border: solid 3px #000;
}